{% load static %}
<html>
<head>
    <title>Calculator</title>
</head>

<body>
    <h1>Calculator</h1>
    <br>

    <form action="add" method="post">
        {% csrf_token %}
        <h2>Input 1</h2>
        <input type="text" name="input_1" required id="input_1">

        <h2>Input 2</h2>
        <input type="text" name="input_2" required id='input_2'>
        
        <br><br>
        <input type="submit" name="add" value="Add" id='add'>

        <br><br>
        <result>Result is {{result}}</result>
    </form>
</body>

</html>